.btn-primary {
    background: #8C52FF;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.violeta {
    background-color: #8C52FF;
}

.amarillo {
    background-color: yellow;
}