<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>
  <h1>ELECCIONES PRESIDENCIALES</h1>
  <h2>ELIGE A TU CANDIDATO</h2>

  <div style="display: flex;">
    <p>JAVIER MILEI</p>
    <img src="../Javier-Milei.jpg" alt="mileche" class = imagen>
    <span>
        <a href="../templates/interior.html" target = "_blank"><button class = "botonM">ELEGIR</button></a>
    </span>
    <p>SERGIO MASSA</p>
    <span>
        <a href="../templates/interior.html" target = "_blank"><button class = "boton">ELEGIR</button></a>
    
    <span>
        
        <img src="../Sergio_Massa_-_Presentación_nueva_línea_de_financiamiento_para_la_producción_de_contenidos_audiovisuales_(cropped2).jpg" alt="MANSA" class = imagen>
    </span>
    
  </div>
  
    
  
    
</body>
</html>
    