body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.salchicha{
    position: absolute;
    background-color: #9b2f2f;
    border-radius: 15vh;
    width: 145vh;
    height: 15vh;
    z-index: 1;
    
}

.pancho {
    position: absolute;
    background-color: #D9B591;
    border-radius: 20vh;
    width: 125vh;
    height: 18vh;
    z-index: 1;
}

#abajo{
    margin-top: 15%;
    border-top: 95px solid #d4a779;
    
}

#arriba{
    margin-bottom: 15%;
    border-bottom: 95px solid #d4a779;
}





