<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../clase 3/styles/estilos.css">
    <title>Document</title>
</head>
<body>
    <div id="uno">UNO</div>
    <div id="dos">DOS</div>
    <div id="tres">TRES</div>
    <div id="cuatro">CUATRO</div>
    <section>
        PON EL MOUSE POR ENCIMA PARA VISUALIZAR EL HOVER
        <div class="pulser"></div>
        <div class="pulser"></div>
        <div class="pulser"></div>
    </section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nam dolor accusamus maxime pariatur dicta quisquam ut saepe? Corrupti minus obcaecati beatae porro totam nihil aperiam odio consectetur animi consequatur.</p>
    
</body>
</html>
<!---->