<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilosfloat.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a class="#" href="boxmodel.html">google</a>
            <a class="#" href="boxmodel.html">facebook</a>
            <a class="#" href="boxmodel.html">twitter</a>
        </div>
        <div id="col1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero rerum quae neque molestias nihil autem assumenda aliquid optio ratione architecto vero quo fuga, harum quia totam ad eos illo?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quisquam! Voluptas sequi molestias vel eos, suscipit voluptatum laudantium possimus dolores quae id eligendi inventore, porro ullam voluptatibus nihil ratione accusamus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, minima vitae. Pariatur consequatur veritatis ut repellat unde tempora nulla excepturi a cum, itaque expedita eligendi molestias enim culpa in quibusdam.
        </div>
        <div id="col2">
            <ul>
                <li>HOME</li>
                <li>Fotos</li>
                <li>Links utiles</li>
                <li>Contacto</li>
            </ul>
        </div>
    </div>
</body>
</html>