<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/foto.css">
    <title>Volkan Yılmaz</title>
</head>
<body>
    <h1 id="borde">welcome to Volkan Yılmaz landing page</h1>
    <a href="mailto:maxigrinstein@gmail.com">CONTACTO</a>
    <div id="container">
        <img src="https://images.pexels.com/photos/19137902/pexels-photo-19137902/free-photo-of-hombre-gente-mujer-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19137847/pexels-photo-19137847/free-photo-of-ciudad-agua-edificio-construccion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142775/pexels-photo-19142775/free-photo-of-instagram-posterior-photoshop-pixabay.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142755/pexels-photo-19142755/free-photo-of-instagram-posterior-photoshop-pixabay.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142768/pexels-photo-19142768/free-photo-of-instagram-posterior-photoshop-pixabay.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142768/pexels-photo-19142768/free-photo-of-instagram-posterior-photoshop-pixabay.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142739/pexels-photo-19142739/free-photo-of-ciudad-hombre-gente-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19142739/pexels-photo-19142739/free-photo-of-ciudad-hombre-gente-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <img src="https://images.pexels.com/photos/19137914/pexels-photo-19137914/free-photo-of-ciudad-hombre-gente-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
</body>
</html>