<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pan.css">
    <title>Document</title>
</head>
<body>
    <img src="https://cdn.discordapp.com/attachments/841755610063700018/1182127792024989726/Captura_1.PNG?ex=6583914c&is=65711c4c&hm=da9f93e63656aabab1055f0633023e65bcfe1d90f41836ec6ef4580c275b456c&" alt="">
    <div class="pancho">
        <div class="salchicha"></div>
        <div class="mostaza"></div>
        <div class="ketchup"></div>
    </div>
</body>
</html>